.root{
    position: fixed;
    z-index: 999;
    background: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
.container{
    padding: 20px;
}
.heading{
    margin-bottom: 20px;
    font-size: 30px;
}
.item{
    color: #FF5722;
    margin: 10px 0;
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    line-height: 16px;
}
.hideLink{
    position: absolute;
    right: 10px;
    font-size: 16px;
    color: #F44336;
    font-weight: bold;
}
.input{
    border: 1px solid #F44336;
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 10px;
    text-align: center;
    color: #424242;
    width: 100%;
}
.submit{
    width: 100%;
    border: 0px;
    font-size: 16px;
    padding: 10px;
    margin: 10px 0 0 0;
    background: #FF9800;
    color: #fff;
}