.root{
    padding: 20px 0;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0px;
    width: 100%;
    overflow: auto;
}
.photoList{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 60px;
}
.captureBtn{
    width: 100%;
    display: inline-block;
    text-align: center;
    position: fixed;
    bottom: 40px;
    background: #ffffff;
    input{
        display: none;
    }
    i{
        font-size: 56px;
        width: 60px;
        height: 60px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        color: #E91E63;
    }
}