.root{
    padding: 20px;
}
.container{
    padding: 20px;
}
.heading{
    margin-bottom: 20px;
    font-size: 30px;
}
.item{
    color: #f00;
    margin: 10px 0;
    font-size: 18px;
}
.directoryTitle{
    font-size: 24px;
    span{
        margin-right: 20px;
    }
}