.root{    
    background: #4267b2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.tabList{
    display: flex;
}
.item{
    flex: 1;
    text-align: center;
    color: #fff;
    line-height: 47px;
    font-size: 30px;
    border-top: 1px solid #375dab;
    box-shadow: 0 1px 0 #4c6daf inset;
}
.itemActive{
    flex: 1;
    text-align: center;
    color: #4267b2;
    background: #fff;
    line-height: 47px;
    font-size: 30px;
}
.tab{
    display: none;
}
.tabActive{
    display: block;
    position: fixed;
    bottom: 40px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: scroll;
}
.tabContent{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 40px;
}